@media (min-width: 768px) {
  #menu {
      display: flex;
      flex-direction: row;
  }

  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 2rem;
  }

  .temple-card img {
      width: 400px;
      height: 250px;
      object-fit: cover; 
      border-radius: 10px; 
  }
}
